{#  
    ACCUEIL DU SITE : PRESENTATION DES DERNIER BIEN ("/" = index() de HomeController.php)
#}

{% extends "base.html.twig" %}

{% block title 'Themelio' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence Themelio</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nihil mollitia tempora distinctio omnis. Omnis inventore ipsa expedita. Voluptates tempore quod magnam
            sit sequi assumenda. Eveniet vero velit accusamus temporibus.
        </p>
    </div>
    <div class="container">
        <h2 class="text-center mb-4"><strong>Nos derniers biens</strong></h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <!-- Lien vers -->
                                <a href=" {{ path('property.show', {id: property.id, slug: property.slug}) }} ">
                                    <!-- Revient à écrire property.getTitle() (c'est twig qui fait le lien entre le nom et la méthode) -->
                                    {{ property.title }} 
                                </a>
                            </h5>
                            
                            <!-- IMAGE (si elle est présente) -->
                            {% if property.filename %}

                                {# Deux façons d'afficher l'image : 
                                    1. la première classic (commentée), 
                                    2. la seconde c'est la librairie d'upload de fichiers qui le permet (param 1 = l'entité ciblée, param 2 = le nom de la propriété de l'entité ciblée)
                                #}
                                <!--<img src="/images/properties/{{ property.filename }}" alt="card-img-top" style="width: 100%; height:auto"> -->
                                <img src="{{ vich_uploader_asset(property, 'imageFile') }}" class="card-img-top" style="width: 100%; height:auto">
                                
                            {% else %}
                                <!-- IMAGE PAR DEFAUT (si le bien ne posséde pas d'image), celle-ci doit être stockée -->
                                <img src="{{ '/images/properties/empty.jpg' }}" class="card-img-top" style="width: 100%; height:auto">
                            {% endif %}

                            <p class="card-text"> {{ property.city }} ({{ property.postalCode }}) </p>
                            <div class="text-primary" style="font-weight: bold; font-size: 2rem;"> 
                                {{ property.getFormatedPrice }} €
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
