{#  
    ADMINISTRATION DE L'ENSEMBLE DES BIENS ("/admin" = index() de Admin/AdminPropertyController.php)
#}

{% extends "base.html.twig" %}

{% block title 'Gestion des biens' %}

{% block body %}
    <div class="container mt-4">
        <h1>Gérer les biens</h1>

        {# AFFICHAGE DES MESSAGES FLASH #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="text-right">
            <a href="{{ path('admin.property.new') }}" class="btn btn-primary">Créer un nouveau bien</a>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for property in properties %}
            <tbody>
                <td> {{ property.title }} </td>
                <td>
                    <a href=" {{ path('admin.property.edit', {id: property.id}) }} " class="btn btn-secondary">Editer</a>
                    <form method="POST" action="{{ path('admin.property.delete', {id: property.id}) }}" style="display: inline-block" onsubmit="return confirm('Supprimer le bien ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        {# input caché qui sécurise la suppréssion (value = concaténation du mot 'delete' et de l'id du bien soit : delete2) #}
                        <input type="hidden" name="_token", value="{{ csrf_token('delete' ~ property.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tbody>
            {% endfor %}
        </table>

    </div>
    
            
       
{% endblock %}