{#  
    VUE DE L'ENSEMBLE DES BIENS ("/biens" = index() de PropertyController.php)
#}

{% extends "base.html.twig" %}

{% block title 'Tous non biens' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row align-items-end">
                <div class="col">
                    {{ form_row(form.minSurface) }}
                </div>
                <div class="col">
                    {{ form_row(form.maxPrice) }}
                </div>
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-primary">Rechercher</button>
                    </div>                   
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="container">
        <h2 class="text-center mb-4"><strong>Voir tous nos biens</strong></h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <!-- AFFICHAGE D'UN BIEN -->
                    {% include('property/_property.html.twig') %}
                </div>
            {% endfor %}
        </div>
        <!-- PAGINATION ("knp_pagination_render" permet le rendu de la pagination par la librairie, en param les biens paginés dans PropertyController, via index()) -->
        <div class="pagination">
            {{ knp_pagination_render(properties) }}
        </div>
    </div>

{% endblock %}
